<div class="row">


	<div class="col-md-12 div-gallery">
			<%=image_tag(@page.activity_img1 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.activity_img2 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.activity_img3 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.activity_img4 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.activity_img5 , class: "img-fullwidth img-rounded")  %>
	</div>


</div>