<div class="row">
	<div class="col-md-12">
		<h2 class="green-color">這，不能說得上是間咖啡館<h2>
		<h4>自從.............................................就讓這個平台讓大家盡情發揮吧就讓這個平台讓大家盡情發揮吧就讓這個平台讓大家盡情發揮吧就讓這個平台讓大家盡情發揮吧就讓這個平台讓大家盡情發揮吧</h4>
	</div>

	<div class="col-md-12 div-gallery">
		<%=image_tag(@page.concept_img1 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.concept_img2 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.concept_img3 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.concept_img4 , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag(@page.concept_img5 , class: "img-fullwidth img-rounded")  %>
	</div>
</div>