

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>

    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%=image_tag(@page.home_slideshow_img1 , class: 'img-slideshow img-rounded') %>

    </div>
    
    <div class="item">
      <%=image_tag(@page.home_slideshow_img2  , class: 'img-slideshow img-rounded') %>
    </div>
    
    <div class="item">
      <%=image_tag(@page.home_slideshow_img3  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img4  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img5  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img6  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img7 , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img8  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img9  , class: 'img-slideshow img-rounded') %>
    </div>

    <div class="item">
      <%=image_tag(@page.home_slideshow_img10  , class: 'img-slideshow img-rounded') %>
    </div>


  </div>
  <!-- Carousel nav -->
  <a id="carousel-control-left" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a id="carousel-control-right" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



<div class="row img-link">
  <div class="col-md-4 ">
    <%=image_tag('yahoo.png', class: "img-fullwidth") %>
  </div>

  <div class="col-md-4">
    <%=image_tag('sky.png', class: "img-fullwidth") %>
  </div>

  <div class="col-md-4">
    <%=image_tag('facebook.png', class: "img-fullwidth") %>
  </div>
</div>
