<div class="row">


	<div class="col-md-12 div-gallery">
		<%=image_tag('space_img1.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag('space_img2.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag('space_img3.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>


	<div class="col-md-12 div-gallery">
				<%=image_tag('space_img4.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag('space_img5.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>


</div>